////
/// Override kendo-dialog component
///
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of kendo ui
/// @name .k-dialog
/// @since version 1.0.0
////
.modalEmbedded {
    height: unset !important;
}
.k-dialog {
    &-wrapper {
        .k-dialog {
            position: fixed;
        }
        &.k-dialog-wrapper--no-close {
            .k-window-actions.k-dialog-actions {
                display: none;
            }
        }
    }

    border-radius: rem(12);

    //TITLE BAR
    .k-dialog-titlebar {
        background-color: color('primary-darker');
        border-top-left-radius: rem(8);
        border-top-right-radius: rem(8);
        padding: rem(16) rem(25);
    }
    .k-dialog-title {
        line-height: rem(34);
        font-size: rem(25);
    }
    .k-dialog-close {
        padding: rem(1);
    }
    .k-icon {
        font-size: rem(25);
    }

    //CONTENT
    .k-dialog-content {
        padding: rem(30) rem(32);

        p,
        span {
            font-size: rem(18);
        }
        .bid-dialog__txt--small {
            display: inline-block;
            font-size: rem(14);
        }
        .bid-dialog__txt--italic {
            font-style: italic;
        }
        .bid-dialog__txt--grey {
            color: color('gray-500');
        }
        .bid-dialog__txt--primary-light {
            color: color('primary-light');
        }
        .bid-textarea__label {
            display: inline-block;
            font-size: rem(14);
            color: color('black');
            margin-bottom: rem(5);
        }
        .bid-dialog__txt--error {
            color: color('error');
        }
        .txt--large {
            font-size: rem(16);
        }
    }

    //FOOTER KENDO-DIALOG-ACTIONS
    .k-dialog-buttongroup {
        border-top: none;
        padding: rem(32);

        .k-button {
            font-size: rem(16);
            border: none;

            &.k-primary {
                background-color: color('primary');
                border-color: color('primary');
                box-shadow: none;
                background-image: none;
            }
        }
    }

    //FOOTER MODAL__FOOTER
    .modal__footer {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding-top: rem(44);
        display: flex;
        flex: 0 0 auto;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;

        .k-button {
            font-size: rem(16);

            &.k-primary {
                background-color: color('primary');
                border: none;
                box-shadow: none;
                background-image: none;
            }
        }
    }

    //
    //Modifiers
    //
    &--confirm {
        .k-dialog-titlebar {
            background-color: color('green');
        }
    }
    &--important {
        .k-dialog-titlebar {
            background-color: color('warning');
            padding-left: rem(82);

            &::after {
                content: '\f06a';
                font-family: 'Font Awesome 5 Pro', sans-serif;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-weight: 900;
                color: color('white');
                position: absolute;
                left: rem(24);
                font-size: rem(42);
            }
        }
    }
}
