////
/// Override kendo-card component
///
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of kendo ui
/// @name .k-card
/// @since version 1.0.0
////
.k-card {

    &--document {
        box-shadow: 0px 4px 16px rgba(87, 101, 226, 0.08);
        border-radius: rem(10);
        padding: rem(24) rem(24) rem(16);
        margin-right: rem(20);
        margin-bottom: rem(20);

        //DROPDOWN BUTTON
        .k-card {
            &__button {
                position: absolute;
                right: rem(9);
                top: rem(9);
                z-index: 2;

                .k-button {
                    width: rem(32);
                    height: rem(32);
                    display: inline-block;
                    line-height: 2;
                    border-radius: rem(5);
                    color: color('black');
                    text-align: center;
                    padding: 0;
                    background-image: none;
                    border: none;

                    &:hover,
                    &.hover {
                        background-color: color('primary');
                        border-color: color('primary');
                        color: color('white');
                    }
                }
            }

            &.k-state-focused {
                .k-button {
                    box-shadow: none;
                }
            }

        }

        // HEADER
        .k-card-header {
            border-bottom: none;
            padding: 0;
            margin-bottom: rem(16);

            .ic-sprites {
                margin: 0;
                display: inline-block;
                vertical-align: top;
            }

            .card-header-info {
                width: calc(100% - 36px);
                display: inline-block;
            }

            .card-ref {
                font-size: rem(16);
                display: block;
                text-decoration: underline;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        .card-label {
            font-size: rem(12);
            text-transform: uppercase;
            font-weight: bold;
            display: block;
        }

        //BODY
        .k-card-body {
            padding: 0;
            margin-bottom: rem(8);
            flex: none;
        }

        .k-card__doc-name {
            max-width: rem(235);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .k-card__doc-type,
        .k-card__doc-version {
            width: 50%;

            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        //FOOTER
        .k-card-footer {
            padding: rem(16) 0 0;
        }

        .k-card__user-name {
            max-width: rem(117);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 0;
        }
    }

    //PACKAGE SENT TO PUBLISHER
    &--sent {
        padding: 0;

        .k-card-header {
            padding: rem(24) rem(24) 0;
        }

        .k-card-body {
            padding: 0 rem(24) 0;
        }

        .k-card-footer {
            padding: rem(16);
            background-color: color('info-lighter');
            border-bottom-left-radius: rem(10) !important;
            border-bottom-right-radius: rem(10) !important;
            border: rem(1) solid color('blue');
            border-bottom: rem(8) solid color('blue');

            .k-hbox {
                align-items: center;
            }

            .k-card__icon {
                font-size: rem(15);
                color: color('white');
                background-color: color('blue');
                border-radius: 50%;
                display: inline-block;
                padding: rem(9);
                margin-right: rem(15);
            }

            .card-label {
                font-size: rem(12);
                font-weight: bold;
                color: color('black');
                letter-spacing: rem(2);
                display: block;
            }

            .card-info {
                font-size: rem(12);
                font-style: italic;
                color: color('black');
            }
        }
    }

    //PACKAGE UNDISCLOSED
    &--undisclosed {
        padding: 0;

        .k-card-header {
            padding: rem(24) rem(24) 0;
        }

        .k-card-body {
            padding: 0 rem(24) 0;
        }

        .k-card-footer {
            padding: rem(16);
            background-color: color('info-lighter');
            border-bottom-left-radius: rem(10) !important;
            border-bottom-right-radius: rem(10) !important;
            border: rem(1) solid color('red');
            border-bottom: rem(8) solid color('red');

            .k-hbox {
                align-items: center;
            }

            .k-card__icon {
                font-size: rem(15);
                color: color('white');
                background-color: color('red');
                border-radius: 50%;
                display: inline-block;
                padding: rem(6) rem(9);
                margin-right: rem(15);
            }

            .card-label {
                font-size: rem(12);
                font-weight: bold;
                color: color('black');
                letter-spacing: rem(2);
                display: block;
            }

            .card-info {
                font-size: rem(12);
                font-style: italic;
                color: color('black');
            }
        }
    }

    //PACKAGE DISCLOSED
    &--disclosed {
        padding: 0;

        .k-card-header {
            padding: rem(24) rem(24) 0;
        }

        .k-card-body {
            padding: 0 rem(24) 0;
        }

        .k-card-footer {
            padding: rem(16);
            background-color: color('success-lighter');
            border-bottom-left-radius: rem(10) !important;
            border-bottom-right-radius: rem(10) !important;
            border: rem(1) solid color('success-border');
            border-bottom: rem(8) solid color('success');

            .k-hbox {
                align-items: center;
            }

            .k-card__icon {
                font-size: rem(15);
                color: color('white');
                background-color: color('success');
                border-radius: 50%;
                display: inline-block;
                padding: rem(9);
                margin-right: rem(15);
            }

            .card-label {
                font-size: rem(12);
                font-weight: bold;
                color: color('black');
                letter-spacing: rem(2);
                display: block;
            }

            .card-info {
                font-size: rem(12);
                font-style: italic;
                color: color('black');
            }
        }
    }
}
