////
/// Override kendo-upload component
///
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of kendo ui
/// @name .k-upload
/// @since version 1.0.0
////
.k-upload {
    &--document {
        border: none;

        .k-dropzone {
            background-color: transparent;
            min-height: rem(80);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border: rem(2) dashed color('gray-500');
            border-radius: rem(8);
            margin-bottom: rem(31);
            width: rem(546);

            &:before {
                content: var(--before-content);
                font-size: rem(18);
                color: color('black');
                margin-right: rem(3);
            }
            &:after {
                content: var(--after-content);
                font-size: rem(18);
                color: color('black');
                position: absolute;
                right: rem(-46);
            }

            .k-upload-button {
                background-image: none;
                white-space: normal;
                border: none;
                font-size: rem(18);
                position: absolute;
                right: rem(-230);
                background-color: color('secondary');
                border-radius: rem(80);
                padding: rem(7) rem(20) rem(9);
                max-width: rem(172);

                &:hover,
                &.hover,
                &:active,
                &.active,
                &:focus,
                &.focus {
                    background-color: color('secondary-hover');
                    border: none;
                    box-shadow: none;
                }
                span {
                    font-size: 0;
                    &:before {
                        content: var(--select-button);
                        font-size: rem(16);
                        color: color('primary');
                        margin-right: rem(18);
                    }
                    &:after {
                        content: '\f341';
                        font-family: 'Font Awesome 5 Pro', sans-serif;
                        color: color('primary');
                        font-size: rem(17);
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
            .k-dropzone-hint {
                font-size: rem(18);
                color: color('black');
                display: block;
                visibility: visible;
                opacity: 1;
                margin: 0;
                padding: rem(20) 0;
                white-space: normal;
                text-align: center;
                flex: none;
                &:before {
                    content: var(--ext-content);
                    text-transform: uppercase;
                    font-size: rem(18);
                    color: color('black');
                    font-weight: bold;
                }
            }
        }
        .k-upload-files {

            .k-file {
                min-height: rem(50);
                border: rem(1) solid color('success') !important;

                .k-button {
                    padding: rem(4);

                    &:hover {
                        &:before {
                            background-color: transparent;
                        }
                    }
                }
                .k-file-group-wrapper {
                    display: none;
                }
                .k-progressbar {
                    display: none;
                }

                &.k-file-invalid {
                    border: rem(1) solid color('error') !important;
                    position: relative;

                    &:before {
                        content: '\f057';
                        font-family: 'Font Awesome 5 Pro', sans-serif;
                        color: color('error');
                        font-size: rem(23);
                        font-weight: 900;
                        width: auto;
                        height: auto;
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        border: none;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: rem(16);
                    }
                    .k-icon.k-delete {
                        color: color('error');
                    }
                    .k-file-name {
                        display: none;
                    }
                    .k-file-name-size-wrapper {
                        position: relative;

                    }
                    .k-file-invalid-extension-wrapper {
                        border: none;

                        .k-file-invalid-icon {
                            display: none;
                        }
                    }
                    .k-file-validation-message {
                        font-size: rem(14);
                        color: color('black') !important;
                        margin-left: rem(30);
                    }
                }
                &:not(.k-file-invalid) {
                    .k-file-name-size-wrapper {
                        margin-left: rem(14);
                    }
                }
            }
            .k-file-extension-wrapper {
                display: none;
            }
            .k-upload-status {
                top: 50%;
                transform: translateY(-50%);
            }
            .k-icon.k-delete {
                color: color('success');
                font-size: rem(26);
            }
            .k-file-name-size-wrapper {
                min-height: auto;
            }
            .k-file-name {
                font-size: rem(18);
                color: color('black');
            }
            .k-file-name-invalid {
                display: none;
            }
            .k-file-size {
                display: none;
            }
        }
    }
}
