////
/// Override kendo-panelbar component
///
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of kendo ui
/// @name .k-panelbar
/// @since version 1.0.0
////
.k-panelbar {
    border: none;
    background-color: transparent;

    //Header
    >.k-item{

        &>.k-link {
        color: color(gray-800);
        font-size: rem(20);
        font-weight: bold;
        padding-left: rem(31);
        cursor: pointer;

            &.k-state-selected {
                color: color(gray-800);
                font-size: rem(20);
                font-weight: bold;
                background-color: transparent;

                &:hover {
                    color: color('gray-600');
                    background-color: color('gray-100');
                }
            }
            &.k-state-focused {
                box-shadow: none;
            }

            &:hover {
                background-color: transparent;
                color: color(gray-800);
            }
        }
        &.k-state-expanded {
            &>.k-link {
                color: color(gray-800);
                font-weight: bold;

                &:hover {
                    color: color('gray-600');
                    background-color: color('gray-100');
                }
            }
        }
        &>.k-header {
            color: color('black');
            border-bottom: rem(1) solid color(gray-500);

            .k-header {
                &-title {
                    margin-right: rem(32);
                }
                &-icon {
                    margin-right: rem(8);
                }
                &-edit {
                    text-decoration: none;
                    color: color('primary');
                    font-size: rem(16);
                    padding: 0;
                    font-weight: bold;
                    margin-left: rem(64);

                    &:hover {
                        color: color('primary-dark');
                    }
                }
            }
        }
    }
    &__remaining {
        font-size: rem(12);
        font-style: italic;
        font-weight: normal;
        color: color('black');
        display: inline-block;
        margin-right: rem(10);
    }
    &__days {
        font-size: rem(20);
        font-weight: normal;
        color: color('black');
    }

    //Arrows
    .k-icon {
        left: rem(8);
        transition: transform .2s ease-in-out;
    }
    .k-i-arrow-n {
        &::before {
            font-family: 'Font Awesome 5 Pro', sans-serif;
            content: '\f078';
            color: color('primary');
        }
    }
    .k-i-arrow-s {
        &::before {
            font-family: 'Font Awesome 5 Pro', sans-serif;
            content: '\f054';
            color: color('primary');
        }
    }

    //Content
    .k-content {
        padding-top: rem(24);
    }

    //
    //MODIFIERS
    //

    &--no-collapse {
        margin-bottom: rem(32);

        //Header
        >.k-item{


            &>.k-link {
                padding: rem(8) 0;
                cursor: default;

                &>.k-header {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
            }
            .k-header {
                &-title {
                    margin-right: rem(32);
                }
                &-icon {
                    margin-right: rem(8);
                }
                &-edit {
                    text-decoration: none;
                    color: color('primary');
                    font-size: rem(16);
                    padding: 0;
                    font-weight: bold;

                    &:hover {
                        color: color('primary-dark');
                    }
                }
            }
        }
    }

    &--dist-list {
        .k-content {
            margin-bottom: rem(20);
        }
        .k-panelbar {
            &__content-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__description-wrapper {
                display: flex;
                align-items: center;
            }
            &__members-num {
                display: inline-block;
                font-size: rem(42);
                font-weight: bold;
                margin-right: rem(10);
            }
            &__members-text {
                display: inline-block;
                max-width: rem(80);
                margin-right: rem(25);
            }
            &__description {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 0;
                margin-right: rem(3);
            }
        }
    }
    &--button {
        >.k-header {
            justify-content: space-between;
        }
    }
    &--time {
        >.k-header {
            justify-content: space-between;
        }
    }
}
