////
/// Colors variable
///
/// You must put all colors here and name them.
/// @access public
/// @author Dfront Specialist Team
/// @example scss color:color(primary);
///    color : #007bff;
/// @group Settings
/// @name color-map
/// @see $color
/// @since version 1.0.0
/// @type Map
////
$primary: #2c6ac0;
$link-color: $primary;
$secondary: #eaf0f9;
$secondary-disabled: #2c6ac0;
$secondary-hover: #f4f7fc;
$tertiary: #6d6d6d;
$success: #23c159;
$info: #17a2b8;
$warning: #ff8b02;
$danger: #dc3545;
$transparent: rgba(0, 0, 0, 0);
$gray-800: #333333;
$gray-700: #4f4f4f;
$gray-600: #6c757d;
$gray-500: #cccccc;
$gray-400: #f2f4f6;
$gray-300: #f7f9ff;
$gray-200: #f3f3f3;
$gray-100: #f8f9fa;
$black: #000000;
$white: #fff;
$yellow: #f8c512;
$orange: #ff5c00;
$primary-lighter: #eaf0f9;
$primary-light: #3288ff;
$primary-dark: #2559a1;
$primary-darker: #234068;
$success-lighter: #f8fffa;
$success-border: #bed5c6;
$danger-lighter: #fff9f9;
$info-lighter: #f7f9ff;
$info-border: #cee1e9;
$purple: #7432b3;
$purple-light: #e4c4f0;
$blue: #2fa9dd;
$blue-bg-500: #d2dbe9;
$blue-bg-400: #e2ebf1;
$blue-bg-300: #e1e7f3;
$blue-bg-200: #eef2f5;
$gray-bg: #969fab;
$gray-bg-100: #f5f5f5;
$green: #23d98c;
$error: #d30001;
$error-light: #f5e5e8;
$error-lighter: #fdf2f2;
$gray-disabled: #f2f2f2;
$bg_InProgress: #eddda1;
$txt_InProgress: #c78b00;
$bg_ERM: #fbe2f5;
$txt_ERM: #d72199;
$bg_Answer: #ffd3b3;
$txt_Answer: #ff5c00;
$popup-header: #2476cb;
$bg_InProgress: #eddda1;
$txt_InProgress: #c78b00;
$bg_ERM: #fbe2f5;
$txt_ERM: #d72199;
$bg_Answer: #ffd3b3;
$txt_Answer: #ff5c00;
$bg_Awaiting: #e8f2cc;
$txt_Awaiting: #688d00;
$gray-border: #868686;
/*
$colors: map-merge(
  $colors,
  (
    "primary": $primary,
    "secondary": $secondary,
    "secondary-hover": $secondary-hover,
    "tertiary": $tertiary,
    "danger": $danger,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "main": #252d32,
    // ns-white	   	 	:	#ffffff,
    "black": $black,
    "white": $white,
    "yellow": $yellow,
    "disabled": #e9ecef,
    "gray-800": $gray-800,
    "gray-700": $gray-700,
    "gray-600": $gray-600,
    "gray-500": $gray-500,
    "gray-400": $gray-400,
    "gray-300": $gray-300,
    "gray-200": $gray-200,
    "gray-100": $gray-100,
    "pruple": $purple,
    "purple-light": $purple-light,
    "blue": $blue,
    "blue-bg-500": $blue-bg-500,
    "blue-bg-400": $blue-bg-400,
    "blue-bg-300": $blue-bg-300,
    "blue-bg-200": $blue-bg-200,
    "gray-bg": $gray-bg,
    "gray-bg-100": $gray-bg-100,
    "green": $green,
    "error": $error,
    "error-light": $error-light,
    "error-lighter": $error-lighter,
    "gray-disabled": $gray-disabled,
    //Tags
    "bg_InProgress": $bg_InProgress,
    "txt_InProgress": $txt_InProgress,
    "bg_ERM": $bg_ERM,
    "txt_ERM": $txt_ERM,
    "bg_Answer": $bg_Answer,
    "txt_Answer": $txt_Answer,
    "bg_Awaiting": $bg_Awaiting,
    "txt_Awaiting": $txt_Awaiting,
    // // Default
    // default-lighter		:	#e2e3e5,
    // default-light		:	#d6d8db,
    // default				:	#6c757d,
    // default-darker		:	#545b62,
    // // Primary
    "primary-lighter": $primary-lighter,
    "primary-light": $primary-light,
    // primary				:	#007bff,
    "primary-dark": $primary-dark,
    "primary-darker": $primary-darker,
    // // Success
    "success-lighter": $success-lighter,
    "success-border": $success-border,
    // success-light		:	#c3e6cb,
    // success				:	#28a745,
    // success-dark		:	#218838,
    // success-darker		:	#1e7e34,
    // // Danger
    "danger-lighter": $danger-lighter,
    // danger-light		:	#f5c6cb,
    // danger				:	#dc3545,
    // danger-dark			:	#c82333,
    // danger-darker		:	#bd2130,
    // // Warning
    "warning-lighter": #faf2cc,
    "warning-light": #faf2cc,
    "warning-dark": #8a6d3b,
    // warning-darker		:	#d39e00,
    // // Info
    "info-lighter": $info-lighter,
    "info-border": $info-border,
    // info-light			:	#bee5eb,
    // info				:	#17a2b8,
    // info-dark			:	#138496,
    // info-darker			:	#117a8b,
    // // Darken
    // darken-lighter		:	#d6d8d9,
    // darken-light		:	#c6c8ca,
    // darken				:	#343a40,
    // darken-dark			:	#23272b,
    // darken-darker		:	#1d2124
    "popup-header": $popup-header,
    "gray-border": $gray-border,
  )
);
$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
  )
);

$grays: map-merge(
  $grays,
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  )
);*/
