///*-------------------------------------------------------------------------
//   #SETTINGS CONFIG
//--------------------------------------------------------------------------*/

//	CONTENT THIS FILE:
//		# NAMESPACE
//      # CONFIG - FONTS
//		# BASIC VALUE FOR PROJECT
//      # CONFIG - SETTINGS

///*-------------------------------------------------------------------------
//   	# NAMESPACE
//--------------------------------------------------------------------------*/
$ns: bid-;

///*-----------------------------------------------------
///     # CONFIG - FONTS
///-----------------------------------------------------*/
$font-family-sans-serif: "open-sans", sans-serif;
$ns-font-family: $font-family-sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 14;
$line-height-base: "normal";
$body-color: "white";

$btn-white-space: "inherit";
$primary: #2c6ac0;
$secondary: #eaf0f9;
$secondary-disabled: #2c6ac0;
$secondary-hover: #f4f7fc;
$tertiary: #6d6d6d;
$success: #23c159;
$info: #17a2b8;
$warning: #ff8b02;
$danger: #dc3545;
$transparent: rgba(0, 0, 0, 0);
$gray-800: #333333;
$gray-700: #4f4f4f;
$gray-600: #6c757d;
$gray-500: #cccccc;
$gray-400: #f2f4f6;
$gray-300: #f7f9ff;
$gray-200: #f3f3f3;
$gray-100: #f8f9fa;
$black: #000000;
$white: #fff;
$yellow: #f8c512;
$orange: #ff5c00;
$link-hover-color: $orange;
$link-hover-decoration: "none";
$primary-lighter: #eaf0f9;
$primary-light: #3288ff;
$primary-dark: #2559a1;
$primary-darker: #234068;
$success-lighter: #f8fffa;
$success-border: #bed5c6;
$danger-lighter: #fff9f9;
$info-lighter: #f7f9ff;
$info-border: #cee1e9;
$purple: #7432b3;
$purple-light: #e4c4f0;
$blue: #2fa9dd;
$blue-bg-500: #d2dbe9;
$blue-bg-400: #e2ebf1;
$blue-bg-300: #e1e7f3;
$blue-bg-200: #eef2f5;
$gray-bg: #969fab;
$gray-bg-100: #f5f5f5;
$green: #23d98c;
$error: #d30001;
$error-light: #f5e5e8;
$error-lighter: #fdf2f2;
$gray-disabled: #f2f2f2;
$bg_InProgress: #eddda1;
$txt_InProgress: #c78b00;
$bg_ERM: #fbe2f5;
$txt_ERM: #d72199;
$bg_Answer: #ffd3b3;
$txt_Answer: #ff5c00;
$popup-header: #2476cb;
$bg_InProgress: #eddda1;
$txt_InProgress: #c78b00;
$bg_ERM: #fbe2f5;
$txt_ERM: #d72199;
$bg_Answer: #ffd3b3;
$txt_Answer: #ff5c00;
$bg_Awaiting: #e8f2cc;
$txt_Awaiting: #688d00;
$gray-border: #868686;

///*-------------------------------------------------------------------------
//   	# BASIC VALUE FOR PROJECT
//--------------------------------------------------------------------------*/
$ns-background-color: white;
$ns-path-font: "../../assets/fonts/";
$ns-path-img: "../assets/img/";

///*-----------------------------------------------------
///     # CONFIG - SIZES
///-----------------------------------------------------*/
$sizes-separations: (
  none: 0,
  xxsmall: 2,
  xsmall: 2,
  small: 8,
  medium: 12,
  normal: 16,
  large: 20,
  xlarge: 24,
  xxlarge: 32,
  xxxlarge: 40,
  huge: 48,
  jumbo: 56,
  outsize: 64,
);
///*-------------------------------------------------------------------------
//   	# BOOTSTRAP SETTINGS
//--------------------------------------------------------------------------*/
$border-radius: 0.375rem;
$border-radius-lg: 0.625rem;
$border-radius-sm: 0.25rem;
$font-weight-normal: "normal";
$btn-focus-box-shadow: none;
$btn-padding-y: 1rem;
$btn-padding-x: 2.25rem;
$btn-font-family: $font-family-base;
$btn-font-size: 1rem;
$btn-line-height: 1;

$btn-padding-y-sm: 0.5rem;
$btn-padding-x-sm: 0.75rem;
$btn-font-size-sm: $btn-font-family;
$btn-line-height-sm: $btn-line-height;

$btn-padding-y-lg: $btn-padding-y;
$btn-padding-x-lg: $btn-padding-x;
$btn-font-size-lg: $btn-font-family;
$btn-line-height-lg: $btn-line-height;

$btn-border-width: 2px;

$btn-font-weight: $font-weight-normal;
$btn-box-shadow: none;
$btn-focus-width: $btn-border-width;
$btn-focus-active-shadow: none;
$btn-focus-box-shadow: none;

$btn-disabled-opacity: 0.65 !default;
$btn-active-box-shadow: none;

$btn-link-disabled-color: $gray-600 !default;

$btn-block-spacing-y: 0.5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 2rem;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

$btn-transition: all 0.2s ease;

.convergenceMargin {
  margin-top: 15px;
  margin-left: 15px;
}
.isIframe {
  height: 40% !important;
}
