////
/// BUTTON element
///
/// Here we got the button styles
////
@mixin button-size(
  $padding-y,
  $padding-x,
  $font-size,
  $line-height,
  $border-radius
) {
  padding: $padding-y $padding-x;
  font-size: $font-size-base;
  line-height: $line-height;
  // Manually declare to provide an override to the browser default
  border-radius: $border-radius;
}

button,
.k-button,
.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: $transparent;
  border: $btn-border-width solid $transparent;
  outline: none;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $btn-line-height,
    $btn-border-radius
  );
  transition: $btn-transition;

  &:hover() {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }

  fieldset:disabled &,
  &[disabled],
  &.disabled,
  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    box-shadow: $btn-active-box-shadow;

    &:focus {
      box-shadow: $btn-focus-box-shadow, $btn-active-box-shadow;
    }
  }
  &.btn-100 {
    display: block;
    width: 100%;
    margin-bottom: rem(8);
  }
}

//
// Alternate buttons
//

.btn-secondary {
  color: $primary;
  background-image: none;

  &.focus,
  &:focus,
  &.hover,
  &:hover,
  &.btn:not(:disabled):not(.disabled):active,
  &.btn:not(:disabled):not(.disabled).active {
    background-image: none;
    color: color("primary");
    background-color: color("secondary-hover");
  }
  &.disabled,
  &:disabled {
    color: color("white");
    background-color: color("gray-500");
  }

  //Button con contador
  &--btn-num {
    padding-left: rem(20);

    span:first-child {
      display: inline-block;
      padding: rem(2) rem(8);
      background-color: color("primary");
      color: color("white");
      border-radius: rem(9);
      margin-right: rem(5);
    }
  }
}
.btn-warning {
  color: $danger;
  background-image: none;
  background-color: $error-light;
  &.focus,
  &:focus,
  &.hover,
  &:hover {
    color: $danger;
    background-image: none;
    background-color: $error-lighter;
  }
  &.disabled,
  &:disabled {
    color: $danger;
  }
}
.btn-tertiary {
  color: $black;
  background-color: $gray-200;
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: none;
  background: $transparent;
  border-color: $transparent;

  &:hover() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background: $transparent;
    border-color: $transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
    background: $transparent;
    border-color: $transparent;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
    background: $transparent;
    border-color: $transparent;
  }

  // No need for an active state here
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-line-height-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-line-height-sm,
    $btn-border-radius-sm
  );
}

//
// Toggleable button
//
.k-button-group {
  flex-wrap: wrap;
}
.k-button-group .btn,
.k-button-group .k-button {
  border: rgba(0, 0, 0, 0);
  padding: rem(10) rem(15);
  min-width: rem(56);
  font-weight: $font-weight-normal;
  color: color("primary");
  background-color: color("secondary");
  background-image: none;
  font-size: rem(18);
  &,
  &:first-child,
  &:last-child {
    border-radius: rem(20);
    min-width: 9.85rem;
  }
  &:hover,
  &.hover,
  &:focus,
  &.focus {
    box-shadow: rem(0) rem(4) rem(8) rgba(0, 0, 0, 0.25);
    text-shadow: rem(1) rem(0) rem(0) color("primary");
  }
  &:active,
  &.k-state-active,
  &.k-state-selected {
    background-color: color("orange");
    border-color: color("orange");
    background-image: none;
    text-shadow: rem(1) rem(0) rem(0) color("white");
    color: $black;
    color: $white;
  }
  &[disabled] {
    opacity: 1;

    &[aria-checked="false"] {
      color: color("white");
      background-color: color("gray-500");
    }
  }
}

//
// Upload document button
//
.k-button.k-button--document {
  width: rem(283);
  min-height: rem(239);
  background-color: color("white");
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: rem(10);
  box-shadow: 3px 4px 16px rgba(216, 216, 216, 0.13);
  display: flex;
  flex-direction: column;
  margin-bottom: rem(20);

  .btn-icon {
    font-size: rem(30);
    padding: rem(10);
    color: color("primary");
    background-color: color("secondary");
    border-radius: 50%;
    width: rem(56);
    height: rem(56);
    line-height: rem(36);
    margin-bottom: rem(16);
  }

  .btn-label {
    font-size: rem(16);
    color: color("primary");
    font-weight: bold;
    white-space: normal;
    line-height: rem(22);
  }

  &[disabled] {
    .btn-icon {
      color: color("gray-700");
      background-color: color("gray-500");
    }
    .btn-label {
      color: color("gray-700");
    }
  }
  &.hover,
  &:hover {
    box-shadow: 0 rem(4) rem(8) rgba(0, 0, 0, 0.25);
  }
}
//Upload pending
.k-button.k-button--waiting {
  .btn-icon {
    color: color("primary");
    background-color: color("secondary");
  }
  &[disabled] {
    .btn-icon {
      color: color("primary");
      background-color: color("secondary");
    }
  }
}

//
// Download button
//
.k-button.k-button--download {
  background-image: none;
  font-size: rem(16);
  position: relative;
  border: none;

  .bid-icon {
    margin-right: rem(10);
  }

  &:focus {
    box-shadow: none;
  }
}

//
// Small button
//
.k-button.k-button--sm {
  padding: rem(8) rem(16);
}

//
// Medium button
//
.btn.btn--medium {
  padding: rem(8) rem(30);
  font-size: rem(18);
}

//
//Footer buttons
//
.btn-footer {
  color: color("white");
  background-color: color("primary");
  &:disabled,
  &.disabled {
    background-color: color("gray-500");
    opacity: 1;
  }
  &:hover,
  &.hover {
    color: color("white");
    background-color: color("primary-dark");
  }
}

//
//Back button
//
.btn.back-icon {
  &:before {
    content: "\f060";
    font-family: "Font Awesome 5 Pro", sans-serif;
    font-weight: 700;
    font-size: rem(18);
    vertical-align: middle;
    margin-right: rem(30);
  }
}

//Icon button group
.k-button-group .btn-icon {
  display: flex;
  font-size: rem(16);
  padding: rem(6) rem(14);
  border-radius: rem(6) !important;
  background-image: none;
  border: none;
  background-color: transparent;
  color: color("black");
  margin-right: rem(15);

  &.k-state-active {
    color: color("black");
    background-color: color("secondary");
    text-shadow: rem(1) rem(0) rem(0) color("black");
  }

  figure {
    background-repeat: no-repeat;
    height: rem(30);
    width: rem(33);
    display: inline-block;
    margin: 0 rem(14) 0 0;
  }
  span {
    font-size: rem(16) !important;
  }

  &.hover,
  &:hover {
    background-color: color("secondary");
    text-shadow: rem(1) rem(0) rem(0) color("black");
    background-image: none;
    border: none;
    box-shadow: none;
  }
  &.focus,
  &:focus {
    box-shadow: none;
  }
  &--word {
    figure {
      background-image: url("../assets/sprites/word-logo.png") !important;
    }
  }
  &--excel {
    figure {
      background-image: url("../assets/sprites/excel-logo.png") !important;
    }
  }
  &--pdf {
    figure {
      background-image: url("../assets/sprites/pdf-logo.png") !important;
    }
  }
}

//Delete button with icon
.btn.btn-delete {
  background-color: transparent;
  background-image: none;
  color: color("black");
  font-size: rem(14);
  border: none;

  .bid-icon {
    display: inline-block;
    margin-right: rem(3);
  }
  &.hover,
  &:hover {
    border: none;
  }
  &.active,
  &:active,
  &.focus,
  &:focus {
    box-shadow: none;
  }
}
