////
/// BODY element
///
/// Here we got the body styles
////
body {
    position: relative;
    font-family: $ns-font-family;
    color: $black;
    background-color: color('white');
    -webkit-text-size-adjust: 100%;
    font-size: rem($font-size-base);
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    min-height: 1070px;
}
.#{$ns}body-embedded {
    position: relative;
    width: 100%;
}
.#{$ns}app {
    display: inline-block;
    position: relative;
    width: 100%;
}
.#{$ns}main-section {
    min-height: 100vh;
}
