////
/// Fonts
///
/// This class is used for font load
///
/// @access public
/// @author Dfront Specialist Team
/// @group Generic
/// @since version 1.0.0
////
//* Example for use @font-face
//
//	@include font-face([name-font],
//		$ns-path-font+'[name-font]',
//		[font-weight],
//		[font-style],
//		[type-font(eot | woff | svg | ttf)]
//	);
//
//*/
// Font-awesome
$fa-font-path: $ns-path-font+'font-awesome';
// @error 'path: '+ $ns-path-font;
// @include font-face('Roboto-Thin',
//     $ns-path-font + 'open-sans/OpenSans-Light',
//     '100',
//     'normal',
//     'ttf'
// );
$open-sans: (
    '300': $ns-path-font + 'open-sans/OpenSans-Light.ttf',
    '400': $ns-path-font + 'open-sans/OpenSans-Regular.ttf',
    '500': $ns-path-font + 'open-sans/OpenSans-SemiBold.ttf',
    '700': $ns-path-font + 'open-sans/OpenSans-Bold.ttf',
    '900': $ns-path-font + 'open-sans/OpenSans-ExtraBold.ttf'
);
@each $weight, $path in $open-sans {
    @font-face {
        font-family: 'open-sans';
        font-weight: #{$weight};
        font-style: normal;
    }
}

@import './font-awesome/fontawesome';
@import './font-awesome/duotone';
@import './font-awesome/brands';
@import './font-awesome/light';
@import './font-awesome/regular';
@import './font-awesome/solid';
@import './font-awesome/v4-shims';
